# BLG 454E Term Project

## Team 2

### Fatih Baskın
#### 150210710

### Bilgenur Çelik
#### 150200063

# 1 Exploratory Data Analysis

## 1.1 Data Description and Data Types

From the feature description, we know that there are 7 histogram variables, corresponding to 70 features. From checking the column names manually, we have found that colums with these names:
* ag_000 to ag_009
* ay_000 to ay_008
* az_000 to az_009
* ba_000 to ba_009
* cn_000 to ba_009
* cn_000 to cn_009
* cs_000 to cs_009
* ee_000 to ee_009

are indeed histogram variables. Those are different from the rest of the data, which are just counters.

Also, from the kaggle challenge website, we have found out that most of the variables have 'na' values, which means NULL, we need to handle this issue.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

training_data_frame = pd.read_csv('data/aps_failure_training_set.csv', na_values='na')
print(training_data_frame.shape)
training_data_frame.head()

testing_data_frame = pd.read_csv('data/aps_failure_test_set.csv', na_values='na')
print(testing_data_frame.shape)
testing_data_frame.head()

(60000, 172)

,id,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,1,neg,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,2,neg,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,3,neg,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,4,neg,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,5,neg,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

## 1.2 Null Values

In [3]:
# read csv file using pandas
dataframe_train = pd.read_csv('data/aps_failure_training_set.csv', dtype=dtype_dict_test, na_values='na', low_memory=False)

# sort the columns by number of missing values and save them
null_counts = dataframe_train.isnull().sum().sort_values(ascending=0).to_dict()
with open('eda/missing_values_train.txt', 'w') as f:
    f.write('Number of missing values per column:\n')
    for key, value in null_counts.items():
        f.write('{}: {:.3f}\n'.format(key, value/len(dataframe_train)))

NameError: name 'dtype_dict_test' is not defined

As the result of counting nulls in the columns, the null counts are very severe in the given columns:
| column | null% | column | null% | column | null% | column | null% | column | null% | column | null% | column | null% |
| ------ | ----- | ------ | ----- | ------ | ----- | ------ | ----- | ------ | ----- | ------ | ----- | ------ | ----- |
| br_000 | 0.821 | bq_000 | 0.812 | bp_000 | 0.796 | bo_000 | 0.772 | cr_000 | 0.772 | ab_000 | 0.772 | bn_000 | 0.733 |
| bm_000 | 0.659 | bl_000 | 0.455 | bk_000 | 0.384 | cf_000 | 0.248 | cg_000 | 0.248 | ch_000 | 0.248 | co_000 | 0.248 |
| ad_000 | 0.248 | cv_000 | 0.230 | da_000 | 0.230 | cz_000 | 0.230 | cy_000 | 0.230 | cx_000 | 0.230 | db_000 | 0.230 |
| cu_000 | 0.230 | ct_000 | 0.230 | dc_000 | 0.230 | ec_00  | 0.171 | cm_000 | 0.165 | cl_000 | 0.159 | ed_000 | 0.159 |

We can drop these columns since they are mostly null.

In [ ]:
# z-score normalization

# standard deviation formula
def zscore(values):
    avg = sum(values)/len(values)
    print(avg)
    mean = sum(values)/len(values)
    print("mean is", mean)
    variance = sum([(i-mean)**2 for i in values])/len(values)
    print("variance is", variance)
    std = variance**0.5
    print("standard deviation is", std)
    zscore = [(i-mean)/std for i in values]
    print("zscore is", zscore)
    return zscore

zscore(train_data)

NameError: name 'train_data' is not defined